<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Responsible Institutions</title>
</head>
<body>

<table>
  <tr>
    <th>Institution</th>
    <th>Country</th>
    <th>Country Code</th>
    <th>Responsible Institution ID</th>
  </tr>
  <tr>
    <td>Fermi National Accelerator Laboratory</td>
    <td>USA</td>
    <td>US</td>
    <td>001</td>
  </tr>
  <tr>
    <td>CERN</td>
    <td>Switzerland</td>
    <td>CH</td>
    <td>002</td>
  </tr>
  <tr>
    <td>Yerevan Institute for Theoretical Physics and Modeling</td>
    <td>Armenia</td>
    <td>AM</td>
    <td>003</td>
  </tr>
  <tr>
    <td>Centro Brasileiro de Pesquisas Físicas</td>
    <td>Brazil</td>
    <td>BR</td>
    <td>004</td>
  </tr>
  <tr>
    <td>Centro de Tecnologia da Informacao Renato Archer</td>
    <td>Brazil</td>
    <td>BR</td>
    <td>005</td>
  </tr>
  <tr>
    <td>Fluminense Federal University</td>
    <td>Brazil</td>
    <td>BR</td>
    <td>006</td>
  </tr>
  <tr>
    <td>Universidade Estadual de Campinas</td>
    <td>Brazil</td>
    <td>BR</td>
    <td>007</td>
  </tr>
  <tr>
    <td>Universidade Estadual de Feira de Santana</td>
    <td>Brazil</td>
    <td>BR</td>
    <td>008</td>
  </tr>
  <tr>
    <td>Universidade Federal de Alfenas</td>
    <td>Brazil</td>
    <td>BR</td>
    <td>009</td>
  </tr>
  <tr>
    <td>Universidade Federal de Goias</td>
    <td>Brazil</td>
    <td>BR</td>
    <td>010</td>
  </tr>
  <tr>
    <td>Universidade Federal de São Carlos</td>
    <td>Brazil</td>
    <td>BR</td>
    <td>011</td>
  </tr>
  <tr>
    <td>Universidade Federal de São Paulo</td>
    <td>Brazil</td>
    <td>BR</td>
    <td>012</td>
  </tr>
  <tr>
    <td>Universidade Federal do ABC</td>
    <td>Brazil</td>
    <td>BR</td>
    <td>013</td>
  </tr>
  <tr>
    <td>Universidade Federal do Rio de Janeiro</td>
    <td>Brazil</td>
    <td>BR</td>
    <td>014</td>
  </tr>
  <tr>
    <td>Universidade Tecnológica Federal do Paraná</td>
    <td>Brazil</td>
    <td>BR</td>
    <td>015</td>
  </tr>
  <tr>
    <td>University of Toronto</td>
    <td>Canada</td>
    <td>CA</td>
    <td>016</td>
  </tr>
  <tr>
    <td>York University</td>
    <td>Canada</td>
    <td>CA</td>
    <td>017</td>
  </tr>
  <tr>
    <td>Universidad Católica del Norte</td>
    <td>Chile</td>
    <td>CL</td>
    <td>018</td>
  </tr>
  <tr>
    <td>Universidad Tecnica Federico Santa Maria</td>
    <td>Chile</td>
    <td>CL</td>
    <td>019</td>
  </tr>
  <tr>
    <td>Sun Yat-Sen University</td>
    <td>China</td>
    <td>CN</td>
    <td>020</td>
  </tr>
  <tr>
    <td>Tsinghua University</td>
    <td>China</td>
    <td>CN</td>
    <td>021</td>
  </tr>
  <tr>
    <td>Universidad Antonio Nariño</td>
    <td>Colombia</td>
    <td>CO</td>
    <td>022</td>
  </tr>
  <tr>
    <td>Universidad del Atlántico</td>
    <td>Colombia</td>
    <td>CO</td>
    <td>023</td>
  </tr>
  <tr>
    <td>Universidad EIA</td>
    <td>Colombia</td>
    <td>CO</td>
    <td>024</td>
  </tr>
  <tr>
    <td>Universidad Sergio Arboleda</td>
    <td>Colombia</td>
    <td>CO</td>
    <td>025</td>
  </tr>
  <tr>
    <td>University of Medellín</td>
    <td>Colombia</td>
    <td>CO</td>
    <td>026</td>
  </tr>
  <tr>
    <td>Czech Technical University</td>
    <td>Czech Republic</td>
    <td>CZ</td>
    <td>027</td>
  </tr>
  <tr>
    <td>Institute of Particle and Nuclear Physics of the Faculty of Mathematics and Physics of the Charles University</td>
    <td>Czech Republic</td>
    <td>CZ</td>
    <td>028</td>
  </tr>
  <tr>
    <td>Institute of Physics, Czech Academy of Sciences</td>
    <td>Czech Republic</td>
    <td>CZ</td>
    <td>029</td>
  </tr>
  <tr>
    <td>University of Jyvaskyla</td>
    <td>Finland</td>
    <td>FI</td>
    <td>030</td>
  </tr>
  <tr>
    <td>Institut de Physique des 2 Infinis de Lyon</td>
    <td>France</td>
    <td>FR</td>
    <td>031</td>
  </tr>
  <tr>
    <td>IRFU, CEA, Université Paris-Saclay</td>
    <td>France</td>
    <td>FR</td>
    <td>032</td>
  </tr>
  <tr>
    <td>Laboratoire d'Annecy-le-Vieux de Physique des Particules, CNRS/IN2P3 and Université Savoie Mont Blanc</td>
    <td>France</td>
    <td>FR</td>
    <td>033</td>
  </tr>
  <tr>
    <td>Université de Paris, CNRS, Astroparticule et Cosmologie</td>
    <td>France</td>
    <td>FR</td>
    <td>034</td>
  </tr>
  <tr>
    <td>Université Paris-Saclay, CNRS/IN2P3</td>
    <td>France</td>
    <td>FR</td>
    <td>035</td>
  </tr>
  <tr>
    <td>University Grenoble Alpes, CNRS, Grenoble INP, LPSC-IN2P3</td>
    <td>France</td>
    <td>FR</td>
    <td>036</td>
  </tr>
  <tr>
    <td>Georgian Technical University</td>
    <td>Georgia</td>
    <td>GE</td>
    <td>037</td>
  </tr>
  <tr>
    <td>University of Athens</td>
    <td>Greece</td>
    <td>GR</td>
    <td>038</td>
  </tr>
  <tr>
    <td>Aligarh Muslim University</td>
    <td>India</td>
    <td>IN</td>
    <td>039</td>
  </tr>
  <tr>
    <td>Central University of South Bihar</td>
    <td>India</td>
    <td>IN</td>
    <td>040</td>
  </tr>
  <tr>
    <td>Harish-Chandra Research Institute</td>
    <td>India</td>
    <td>IN</td>
    <td>041</td>
  </tr>
  <tr>
    <td>Indian Institute of Technology Bombay</td>
    <td>India</td>
    <td>IN</td>
    <td>042</td>
  </tr>
  <tr>
    <td>Indian Institute of Technology Guwahati</td>
    <td>India</td>
    <td>IN</td>
    <td>043</td>
  </tr>
  <tr>
    <td>Indian Institute of Technology Hyderabad</td>
    <td>IN</td>
    <td>India</td>
    <td>044</td>
  </tr>
  <tr>
    <td>Jawaharlal Nehru University</td>
    <td>IN</td>
    <td>India</td>
    <td>045</td>
  </tr>
  <tr>
    <td>K L University</td>
    <td>IN</td>
    <td>India</td>
    <td>046</td>
  </tr>
  <tr>
    <td>Panjab University</td>
    <td>IN</td>
    <td>India</td>
    <td>047</td>
  </tr>
  <tr>
    <td>Physical Research Laboratory</td>
    <td>IN</td>
    <td>India</td>
    <td>048</td>
  </tr>
  <tr>
    <td>Punjab Agricultural University</td>
    <td>IN</td>
    <td>India</td>
    <td>049</td>
  </tr>
  <tr>
    <td>University of Hyderabad</td>
    <td>IN</td>
    <td>India</td>
    <td>050</td>
  </tr>
  <tr>
    <td>University of Delhi</td>
    <td>IN</td>
    <td>India</td>
    <td>051</td>
  </tr>
  <tr>
    <td>University of Jammu</td>
    <td>IN</td>
    <td>India</td>
    <td>052</td>
  </tr>
  <tr>
    <td>University of Lucknow</td>
    <td>IN</td>
    <td>India</td>
    <td>053</td>
  </tr>
  <tr>
    <td>Variable Energy Cyclotron Centre</td>
    <td>IN</td>
    <td>India</td>
    <td>054</td>
  </tr>
  <tr>
    <td>Institute for Research in Fundamental Sciences</td>
    <td>IR</td>
    <td>Iran</td>
    <td>055</td>
  </tr>
  <tr>
    <td>Gran Sasso Science Institute</td>
    <td>IT</td>
    <td>Italy</td>
    <td>056</td>
  </tr>
  <tr>
    <td>Istituto Nazionale di Fisica Nucleare Laboratori Nazionali del Sud</td>
    <td>IT</td>
    <td>Italy</td>
    <td>057</td>
  </tr>
  <tr>
    <td>Istituto Nazionale di Fisica Nucleare Sezione di Bologna</td>
    <td>IT</td>
    <td>Italy</td>
    <td>058</td>
  </tr>
  <tr>
    <td>Istituto Nazionale di Fisica Nucleare Sezione di Ferrara</td>
    <td>IT</td>
    <td>Italy</td>
    <td>059</td>
  </tr>
  <tr>
    <td>Istituto Nazionale di Fisica Nucleare Sezione di Genova</td>
    <td>IT</td>
    <td>Italy</td>
    <td>060</td>
  </tr>
  <tr>
    <td>Istituto Nazionale di Fisica Nucleare Sezione di Lecce</td>
    <td>IT</td>
    <td>Italy</td>
    <td>061</td>
  </tr>
  <tr>
    <td>Istituto Nazionale di Fisica Nucleare Sezione di Milano</td>
    <td>IT</td>
    <td>Italy</td>
    <td>062</td>
  </tr>
  <tr>
    <td>Istituto Nazionale di Fisica Nucleare Sezione di Milano Bicocca</td>
    <td>IT</td>
    <td>Italy</td>
    <td>063</td>
  </tr>
  <tr>
    <td>Istituto Nazionale di Fisica Nucleare Sezione di Napoli</td>
    <td>IT</td>
    <td>Italy</td>
    <td>064</td>
  </tr>
  <tr>
    <td>Istituto Nazionale di Fisica Nucleare Sezione di Padova</td>
    <td>IT</td>
    <td>Italy</td>
    <td>065</td>
  </tr>
  <tr>
    <td>Istituto Nazionale di Fisica Nucleare Sezione di Pavia</td>
    <td>IT</td>
    <td>Italy</td>
    <td>066</td>
  </tr>
  <tr>
    <td>Laboratori Nazionali del Gran Sasso</td>
    <td>IT</td>
    <td>Italy</td>
    <td>067</td>
  </tr>
  <tr>
    <td>Università di Pisa</td>
    <td>IT</td>
    <td>Italy</td>
    <td>068</td>
  </tr>
  <tr>
    <td>Universtà degli Studi di Padova</td>
    <td>IT</td>
    <td>Italy</td>
    <td>069</td>
  </tr>
  <tr>
    <td>High Energy Accelerator Research Organization (KEK)</td>
    <td>JP</td>
    <td>Japan</td>
    <td>070</td>
  </tr>
  <tr>
    <td>Iwate University</td>
    <td>JP</td>
    <td>Japan</td>
    <td>071</td>
  </tr>
  <tr>
    <td>Kavli Institute for the Physics and Mathematics of the Universe</td>
    <td>JP</td>
    <td>Japan</td>
    <td>072</td>
  </tr>
  <tr>
    <td>National Institute of Technology, Kure College</td>
    <td>JP</td>
    <td>Japan</td>
    <td>073</td>
  </tr>
  <tr>
    <td>Chung-Ang University</td>
    <td>KR</td>
    <td>Korea, South</td>
    <td>074</td>
  </tr>
  <tr>
    <td>Jeonbuk National University</td>
    <td>KR</td>
    <td>Korea, South</td>
    <td>075</td>
  </tr>
  <tr>
    <td>Korea Institute of Science and Technology Information</td>
    <td>KR</td>
    <td>Korea, South</td>
    <td>076</td>
  </tr>
  <tr>
    <td>Ulsan National Institute of Science and Technology</td>
    <td>KR</td>
    <td>Korea, South</td>
    <td>077</td>
  </tr>
  <tr>
    <td>University of Antananarivo</td>
    <td>MG</td>
    <td>Madagascar</td>
    <td>078</td>
  </tr>
  <tr>
    <td>Centro de Investigación y de Estudios Avanzados del Instituto Politécnico Nacional (Cinvestav)</td>
    <td>MX</td>
    <td>Mexico</td>
    <td>079</td>
  </tr>
  <tr>
    <td>Universidad de Colima</td>
    <td>MX</td>
    <td>Mexico</td>
    <td>080</td>
  </tr>
  <tr>
    <td>Universidad de Guanajuato</td>
    <td>MX</td>
    <td>Mexico</td>
    <td>081</td>
  </tr>
  <tr>
    <td>Nikhef National Institute of Subatomic Physics</td>
    <td>NL</td>
    <td>Netherlands</td>
    <td>082</td>
  </tr>
  <tr>
    <td>Universidad Nacional de Asunción</td>
    <td>PY</td>
    <td>Paraguay</td>
    <td>083</td>
  </tr>
  <tr>
    <td>Pontificia Universidad Católica del Perú</td>
    <td>PE</td>
    <td>Peru</td>
    <td>084</td>
  </tr>
  <tr>
    <td>Universidad Nacional de Ingeniería</td>
    <td>PE</td>
    <td>Peru</td>
    <td>085</td>
  </tr>
  <tr>
    <td>H. Niewodniczański Institute of Nuclear Physics</td>
    <td>PL</td>
    <td>Poland</td>
    <td>086</td>
  </tr>
  <tr>
    <td>National Centre for Nuclear Research</td>
    <td>PL</td>
    <td>Poland</td>
    <td>087</td>
  </tr>
  <tr>
    <td>University of Warsaw</td>
    <td>PL</td>
    <td>Poland</td>
    <td>088</td>
  </tr>
  <tr>
    <td>University of Wroclaw</td>
    <td>PL</td>
    <td>Poland</td>
    <td>089</td>
  </tr>
  <tr>
    <td>Laboratório de Instrumentação e Física Experimental de Partículas</td>
    <td>PT</td>
    <td>Portugal</td>
    <td>090</td>
  </tr>
  <tr>
    <td>University of Bucharest</td>
    <td>RO</td>
    <td>Romania</td>
    <td>091</td>
  </tr>
  <tr>
    <td>Institute for Nuclear Research of the Russian Academy of Sciences</td>
    <td>RU</td>
    <td>Russia</td>
    <td>092</td>
  </tr>
  <tr>
    <td>Joint Institutes for Nuclear Research</td>
    <td>RU</td>
    <td>Russia</td>
    <td>093</td>
  </tr>
  <tr>
    <td>CIEMAT</td>
    <td>ES</td>
    <td>Spain</td>
    <td>094</td>
  </tr>
  <tr>
    <td>Institut de Física d’Altes Energies (IFAE)—Barcelona Institute of Science and Technology (BIST)</td>
    <td>ES</td>
    <td>Spain</td>
    <td>095</td>
  </tr>
  <tr>
    <td>Instituto de Fisica Corpuscular</td>
    <td>ES</td>
    <td>Spain</td>
    <td>096</td>
  </tr>
  <tr>
    <td>Instituto Galego de Fisica de Altas Enerxias</td>
    <td>ES</td>
    <td>Spain</td>
    <td>097</td>
  </tr>
  <tr>
    <td>Madrid Autonoma University and IFT UAM/CSIC</td>
    <td>ES</td>
    <td>Spain</td>
    <td>098</td>
  </tr>
  <tr>
    <td>University of Granada & CAFPE</td>
    <td>ES</td>
    <td>Spain</td>
    <td>099</td>
  </tr>
  <tr>
    <td>KTH Royal Institute of Technology</td>
    <td>SE</td>
    <td>Sweden</td>
    <td>100</td>
  </tr>
  <tr>
    <td>ETH Zurich</td>
    <td>CH</td>
    <td>Switzerland</td>
    <td>101</td>
  </tr>
  <tr>
    <td>University of Basel</td>
    <td>CH</td>
    <td>Switzerland</td>
    <td>102</td>
  </tr>
  <tr>
    <td>University of Bern</td>
    <td>CH</td>
    <td>Switzerland</td>
    <td>103</td>
  </tr>
  <tr>
    <td>Beykent University</td>
    <td>TR</td>
    <td>Turkey</td>
    <td>104</td>
  </tr>
  <tr>
    <td>Kyiv National University</td>
    <td>UA</td>
    <td>Ukraine</td>
    <td>105</td>
  </tr>
  <tr>
    <td>Daresbury Laboratory</td>
    <td>GB</td>
    <td>United Kingdom</td>
    <td>106</td>
  </tr>
  <tr>
    <td>Durham University</td>
    <td>GB</td>
    <td>United Kingdom</td>
    <td>107</td>
  </tr>
  <tr>
    <td>Imperial College of Science Technology and Medicine</td>
    <td>GB</td>
    <td>United Kingdom</td>
    <td>108</td>
  </tr>
  <tr>
    <td>Lancaster University</td>
    <td>GB</td>
    <td>United Kingdom</td>
    <td>109</td>
  </tr>
  <tr>
    <td>Queen Mary University of London</td>
    <td>GB</td>
    <td>United Kingdom</td>
    <td>110</td>
  </tr>
  <tr>
    <td>Royal Holloway College London</td>
    <td>GB</td>
    <td>United Kingdom</td>
    <td>111</td>
  </tr>
  <tr>
    <td>STFC Rutherford Appleton Laboratory</td>
    <td>GB</td>
    <td>United Kingdom</td>
    <td>112</td>
  </tr>
  <tr>
    <td>University College London</td>
    <td>GB</td>
    <td>United Kingdom</td>
    <td>113</td>
  </tr>
  <tr>
    <td>University of Birmingham</td>
    <td>GB</td>
    <td>United Kingdom</td>
    <td>114</td>
  </tr>
  <tr>
    <td>University of Bristol</td>
    <td>GB</td>
    <td>United Kingdom</td>
    <td>115</td>
  </tr>
  <tr>
    <td>University of Cambridge</td>
    <td>GB</td>
    <td>United Kingdom</td>
    <td>116</td>
  </tr>
  <tr>
    <td>University of Edinburgh</td>
    <td>GB</td>
    <td>United Kingdom</td>
    <td>117</td>
  </tr>
  <tr>
    <td>University of Liverpool</td>
    <td>GB</td>
    <td>United Kingdom</td>
    <td>118</td>
  </tr>
  <tr>
    <td>University of Manchester</td>
    <td>GB</td>
    <td>United Kingdom</td>
    <td>119</td>
  </tr>
  <tr>
    <td>University of Oxford</td>
    <td>GB</td>
    <td>United Kingdom</td>
    <td>120</td>
  </tr>
  <tr>
    <td>University of Sheffield</td>
    <td>GB</td>
    <td>United Kingdom</td>
    <td>121</td>
  </tr>
  <tr>
    <td>University of Sussex</td>
    <td>GB</td>
    <td>United Kingdom</td>
    <td>122</td>
  </tr>
  <tr>
    <td>University of Warwick</td>
    <td>GB</td>
    <td>United Kingdom</td>
    <td>123</td>
  </tr>
  <tr>
    <td>Abilene Christian University</td>
    <td>US</td>
    <td>USA</td>
    <td>124</td>
  </tr>
  <tr>
    <td>Argonne National Laboratory</td>
    <td>US</td>
    <td>USA</td>
    <td>125</td>
  </tr>
  <tr>
    <td>Augustana University</td>
    <td>US</td>
    <td>USA</td>
    <td>126</td>
  </tr>
  <tr>
    <td>Boston University</td>
    <td>US</td>
    <td>USA</td>
    <td>127</td>
  </tr>
  <tr>
    <td>Brookhaven National Laboratory</td>
    <td>US</td>
    <td>USA</td>
    <td>128</td>
  </tr>
  <tr>
    <td>California Institute of Technology</td>
    <td>US</td>
    <td>USA</td>
    <td>129</td>
  </tr>
  <tr>
    <td>College of William and Mary</td>
    <td>US</td>
    <td>USA</td>
    <td>130</td>
  </tr>
  <tr>
    <td>Colorado State University</td>
    <td>US</td>
    <td>USA</td>
    <td>131</td>
  </tr>
  <tr>
    <td>Columbia University</td>
    <td>US</td>
    <td>USA</td>
    <td>132</td>
  </tr>
  <tr>
    <td>Dakota State University</td>
    <td>US</td>
    <td>USA</td>
    <td>133</td>
  </tr>
  <tr>
    <td>Drexel University</td>
    <td>US</td>
    <td>USA</td>
    <td>134</td>
  </tr>
  <tr>
    <td>Duke University</td>
    <td>US</td>
    <td>USA</td>
    <td>135</td>
  </tr>
  <tr>
    <td>Harvard University</td>
    <td>US</td>
    <td>USA</td>
    <td>136</td>
  </tr>
  <tr>
    <td>Idaho State University</td>
    <td>US</td>
    <td>USA</td>
    <td>137</td>
  </tr>
  <tr>
    <td>Illinois Institute of Technology</td>
    <td>US</td>
    <td>USA</td>
    <td>138</td>
  </tr>
  <tr>
    <td>Indiana University</td>
    <td>US</td>
    <td>USA</td>
    <td>139</td>
  </tr>
  <tr>
    <td>Iowa State University</td>
    <td>US</td>
    <td>USA</td>
    <td>140</td>
  </tr>
  <tr>
    <td>Kansas State University</td>
    <td>US</td>
    <td>USA</td>
    <td>141</td>
  </tr>
  <tr>
    <td>Lawrence Berkeley National Laboratory</td>
    <td>US</td>
    <td>USA</td>
    <td>142</td>
  </tr>
  <tr>
    <td>Los Alamos National Laboratory</td>
    <td>US</td>
    <td>USA</td>
    <td>143</td>
  </tr>
  <tr>
    <td>Louisiana State University</td>
    <td>US</td>
    <td>USA</td>
    <td>144</td>
  </tr>
  <tr>
    <td>Massachusetts Institute of Technology</td>
    <td>US</td>
    <td>USA</td>
    <td>145</td>
  </tr>
  <tr>
    <td>Michigan State University</td>
    <td>US</td>
    <td>USA</td>
    <td>146</td>
  </tr>
  <tr>
    <td>Northern Illinois University</td>
    <td>US</td>
    <td>USA</td>
    <td>147</td>
  </tr>
  <tr>
    <td>Northwestern University</td>
    <td>US</td>
    <td>USA</td>
    <td>148</td>
  </tr>
  <tr>
    <td>Occidental College</td>
    <td>US</td>
    <td>USA</td>
    <td>149</td>
  </tr>
  <tr>
    <td>Ohio State University</td>
    <td>US</td>
    <td>USA</td>
    <td>150</td>
  </tr>
  <tr>
    <td>University of Sheffield</td>
    <td>GB</td>
    <td>United Kingdom</td>
    <td>121</td>
  </tr>
  <tr>
    <td>University of Sussex</td>
    <td>GB</td>
    <td>United Kingdom</td>
    <td>122</td>
  </tr>
  <tr>
    <td>University of Warwick</td>
    <td>GB</td>
    <td>United Kingdom</td>
    <td>123</td>
  </tr>
  <tr>
    <td>Abilene Christian University</td>
    <td>US</td>
    <td>USA</td>
    <td>124</td>
  </tr>
  <tr>
    <td>Argonne National Laboratory</td>
    <td>US</td>
    <td>USA</td>
    <td>125</td>
  </tr>
  <tr>
    <td>Augustana University</td>
    <td>US</td>
    <td>USA</td>
    <td>126</td>
  </tr>
  <tr>
    <td>Boston University</td>
    <td>US</td>
    <td>USA</td>
    <td>127</td>
  </tr>
  <tr>
    <td>Brookhaven National Laboratory</td>
    <td>US</td>
    <td>USA</td>
    <td>128</td>
  </tr>
  <tr>
    <td>California Institute of Technology</td>
    <td>US</td>
    <td>USA</td>
    <td>129</td>
  </tr>
  <tr>
    <td>College of William and Mary</td>
    <td>US</td>
    <td>USA</td>
    <td>130</td>
  </tr>
  <tr>
    <td>Colorado State University</td>
    <td>US</td>
    <td>USA</td>
    <td>131</td>
  </tr>
  <tr>
    <td>Columbia University</td>
    <td>US</td>
    <td>USA</td>
    <td>132</td>
  </tr>
  <tr>
    <td>Dakota State University</td>
    <td>US</td>
    <td>USA</td>
    <td>133</td>
  </tr>
  <tr>
    <td>Drexel University</td>
    <td>US</td>
    <td>USA</td>
    <td>134</td>
  </tr>
  <tr>
    <td>Duke University</td>
    <td>US</td>
    <td>USA</td>
    <td>135</td>
  </tr>
  <tr>
    <td>Harvard University</td>
    <td>US</td>
    <td>USA</td>
    <td>136</td>
  </tr>
  <tr>
    <td>Idaho State University</td>
    <td>US</td>
    <td>USA</td>
    <td>137</td>
  </tr>
  <tr>
    <td>Illinois Institute of Technology</td>
    <td>US</td>
    <td>USA</td>
    <td>138</td>
  </tr>
  <tr>
    <td>Indiana University</td>
    <td>US</td>
    <td>USA</td>
    <td>139</td>
  </tr>
  <tr>
    <td>Iowa State University</td>
    <td>US</td>
    <td>USA</td>
    <td>140</td>
  </tr>
  <tr>
    <td>Kansas State University</td>
    <td>US</td>
    <td>USA</td>
    <td>141</td>
  </tr>
  <tr>
    <td>Lawrence Berkeley National Laboratory</td>
    <td>US</td>
    <td>USA</td>
    <td>142</td>
  </tr>
  <tr>
    <td>Los Alamos National Laboratory</td>
    <td>US</td>
    <td>USA</td>
    <td>143</td>
  </tr>
  <tr>
    <td>Louisiana State University</td>
    <td>US</td>
    <td>USA</td>
    <td>144</td>
  </tr>
  <tr>
    <td>Massachusetts Institute of Technology</td>
    <td>US</td>
    <td>USA</td>
    <td>145</td>
  </tr>
  <tr>
    <td>Michigan State University</td>
    <td>US</td>
    <td>USA</td>
    <td>146</td>
  </tr>
  <tr>
    <td>Northern Illinois University</td>
    <td>US</td>
    <td>USA</td>
    <td>147</td>
  </tr>
  <tr>
    <td>Northwestern University</td>
    <td>US</td>
    <td>USA</td>
    <td>148</td>
  </tr>
  <tr>
    <td>Occidental College</td>
    <td>US</td>
    <td>USA</td>
    <td>149</td>
  </tr>
  <tr>
    <td>Ohio State University</td>
    <td>US</td>
    <td>USA</td>
    <td>150</td>
  </tr>
  <tr>
    <td>Oregon State University</td>
    <td>US</td>
    <td>USA</td>
    <td>151</td>
  </tr>
  <tr>
    <td>Otterbein University</td>
    <td>US</td>
    <td>USA</td>
    <td>152</td>
  </tr>
  <tr>
    <td>Pacific Northwest National Laboratory</td>
    <td>US</td>
    <td>USA</td>
    <td>153</td>
  </tr>
  <tr>
    <td>Pennsylvania State University</td>
    <td>US</td>
    <td>USA</td>
    <td>154</td>
  </tr>
  <tr>
    <td>Rutgers University</td>
    <td>US</td>
    <td>USA</td>
    <td>155</td>
  </tr>
  <tr>
    <td>San Jose State University</td>
    <td>US</td>
    <td>USA</td>
    <td>156</td>
  </tr>
  <tr>
    <td>Sanford Underground Research Facility</td>
    <td>US</td>
    <td>USA</td>
    <td>157</td>
  </tr>
  <tr>
    <td>SLAC National Accelerator Laboratory</td>
    <td>US</td>
    <td>USA</td>
    <td>158</td>
  </tr>
  <tr>
    <td>South Dakota School of Mines and Technology</td>
    <td>US</td>
    <td>USA</td>
    <td>159</td>
  </tr>
  <tr>
    <td>South Dakota State University</td>
    <td>US</td>
    <td>USA</td>
    <td>160</td>
  </tr>
  <tr>
    <td>Southern Methodist University</td>
    <td>US</td>
    <td>USA</td>
    <td>161</td>
  </tr>
  <tr>
    <td>Stony Brook University, SUNY</td>
    <td>US</td>
    <td>USA</td>
    <td>162</td>
  </tr>
  <tr>
    <td>Syracuse University</td>
    <td>US</td>
    <td>USA</td>
    <td>163</td>
  </tr>
  <tr>
    <td>Texas A&M University</td>
    <td>US</td>
    <td>USA</td>
    <td>164</td>
  </tr>
  <tr>
    <td>Texas A&M University - Corpus Christi</td>
    <td>US</td>
    <td>USA</td>
    <td>165</td>
  </tr>
  <tr>
    <td>Tufts University</td>
    <td>US</td>
    <td>USA</td>
    <td>166</td>
  </tr>
  <tr>
    <td>University of Albany, SUNY</td>
    <td>US</td>
    <td>USA</td>
    <td>167</td>
  </tr>
  <tr>
    <td>University of Arizona</td>
    <td>US</td>
    <td>USA</td>
    <td>168</td>
  </tr>
  <tr>
    <td>University of California Berkeley</td>
    <td>US</td>
    <td>USA</td>
    <td>169</td>
  </tr>
  <tr>
    <td>University of California Davis</td>
    <td>US</td>
    <td>USA</td>
    <td>170</td>
  </tr>
  <tr>
    <td>University of California Irvine</td>
    <td>US</td>
    <td>USA</td>
    <td>171</td>
  </tr>
  <tr>
    <td>University of California Los Angeles</td>
    <td>US</td>
    <td>USA</td>
    <td>172</td>
  </tr>
  <tr>
    <td>University of California Riverside</td>
    <td>US</td>
    <td>USA</td>
    <td>173</td>
  </tr>
  <tr>
    <td>University of California Santa Barbara</td>
    <td>US</td>
    <td>USA</td>
    <td>174</td>
  </tr>
  <tr>
    <td>University of Chicago</td>
    <td>US</td>
    <td>USA</td>
    <td>175</td>
  </tr>
  <tr>
    <td>University of Cincinnati</td>
    <td>US</td>
    <td>USA</td>
    <td>176</td>
  </tr>
  <tr>
    <td>University of Colorado Boulder</td>
    <td>US</td>
    <td>USA</td>
    <td>177</td>
  </tr>
  <tr>
    <td>University of Dallas</td>
    <td>US</td>
    <td>USA</td>
    <td>178</td>
  </tr>
  <tr>
    <td>University of Florida</td>
    <td>US</td>
    <td>USA</td>
    <td>179</td>
  </tr>
  <tr>
    <td>University of Hawaii</td>
    <td>US</td>
    <td>USA</td>
    <td>180</td>
  </tr>
  <tr>
    <td>University of Houston</td>
    <td>US</td>
    <td>USA</td>
    <td>181</td>
  </tr>
  <tr>
    <td>University of Iowa</td>
    <td>US</td>
    <td>USA</td>
    <td>182</td>
  </tr>
  <tr>
    <td>University of Maryland</td>
    <td>US</td>
    <td>USA</td>
    <td>183</td>
  </tr>
  <tr>
    <td>University of Michigan</td>
    <td>US</td>
    <td>USA</td>
    <td>184</td>
  </tr>
  <tr>
    <td>University of Minnesota Duluth</td>
    <td>US</td>
    <td>USA</td>
    <td>185</td>
  </tr>
  <tr>
    <td>University of Minnesota Twin Cities</td>
    <td>US</td>
    <td>USA</td>
    <td>186</td>
  </tr>
  <tr>
    <td>University of Mississippi</td>
    <td>US</td>
    <td>USA</td>
    <td>187</td>
  </tr>
  <tr>
    <td>University of New Mexico</td>
    <td>US</td>
    <td>USA</td>
    <td>188</td>
  </tr>
  <tr>
    <td>University of North Dakota</td>
    <td>US</td>
    <td>USA</td>
    <td>189</td>
  </tr>
  <tr>
    <td>University of Notre Dame</td>
    <td>US</td>
    <td>USA</td>
    <td>190</td>
  </tr>
  <tr>
    <td>University of Pennsylvania</td>
    <td>US</td>
    <td>USA</td>
    <td>191</td>
  </tr>
  <tr>
    <td>University of Pittsburgh</td>
    <td>US</td>
    <td>USA</td>
    <td>192</td>
  </tr>
  <tr>
    <td>University of Puerto Rico</td>
    <td>US</td>
    <td>USA</td>
    <td>193</td>
  </tr>
  <tr>
    <td>University of Rochester</td>
    <td>US</td>
    <td>USA</td>
    <td>194</td>
  </tr>
  <tr>
    <td>University of South Carolina</td>
    <td>US</td>
    <td>USA</td>
    <td>195</td>
  </tr>
  <tr>
    <td>University of South Dakota</td>
    <td>US</td>
    <td>USA</td>
    <td>196</td>
  </tr>
  <tr>
    <td>University of Tennessee at Knoxville</td>
    <td>US</td>
    <td>USA</td>
    <td>197</td>
  </tr>
  <tr>
    <td>University of Texas at Arlington</td>
    <td>US</td>
    <td>USA</td>
    <td>198</td>
  </tr>
  <tr>
    <td>University of Texas at Austin</td>
    <td>US</td>
    <td>USA</td>
    <td>199</td>
  </tr>
  <tr>
    <td>University of Wisconsin Madison</td>
    <td>US</td>
    <td>USA</td>
    <td>200</td>
  </tr>
  <tr>
    <td>Valley City State University</td>
    <td>US</td>
    <td>USA</td>
    <td>201</td>
  </tr>
  <tr>
    <td>Virginia Tech</td>
    <td>US</td>
    <td>USA</td>
    <td>202</td>
  </tr>
  <tr>
    <td>Wellesley College</td>
    <td>US</td>
    <td>USA</td>
    <td>203</td>
  </tr>
  <tr>
    <td>Wichita State University</td>
    <td>US</td>
    <td>USA</td>
    <td>204</td>
  </tr>
  <tr>
    <td>Yale University</td>
    <td>US</td>
    <td>USA</td>
    <td>205</td>
  </tr>
  <tr>
    <td>Antalya Bilim University</td>
    <td>TR</td>
    <td>Turkey</td>
    <td>206</td>
  </tr>
  <tr>
    <td>Eötvös Loránd University</td>
    <td>HU</td>
    <td>Hungary</td>
    <td>207</td>
  </tr>
</table>
  
</body>
</html>



  



