{% comment %}
css for slideviewer


{% endcomment %}

<style>

.button {

  display: inline-block;
  height: 134px;
  padding: 0;
  margin: 0;
  vertical-align: top;
  text-align: center;
  width: 204px;
  border: 0;
  background-size: 100%; 
  
}

.img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  vertical-align: center;
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.left {
  width: 60%;
}

.right {
  width: 35%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

</style>
