
<div class="image-container9">
    <img src="../fig/Data-management-WEB-UI/add-image.png" alt="add-image" style="border: 5px double #CCC">
    <button class="overlay-button16" style="top: 34%; left: 26%;" onclick="showInfo('add-image')"></button>
</div>

<div id="add-image" class="popup">
    <span class="close" onclick="closePopup('add-image')">&times;</span>
    <p>Gives you the ability to select the image, name it, and add a comment. </p>
    <img src="../fig/Data-management-WEB-UI/select-image.png" alt="image-menu">
</div>



<script>
    function showInfo(infoId) {
        document.getElementById(infoId).style.display = 'block';
    }

    function closePopup(infoId) {
        document.getElementById(infoId).style.display = 'none';
    }
</script>

<style>
    body {
        font-family: Arial, sans-serif;
    }

    .image-container9 {
        position: relative;
        display: inline-block;
    }

    .image-container9 img {
        display: block;
        max-width: 50%;
        height: auto;
    }

    .overlay-button16 {
        position: absolute;
        background: rgba(0, 0, 0, 0); 
        border: 2px solid red; 
        cursor: pointer;
        width: 115px; 
        height: 30px; 
        outline: none;
    }


    .popup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        background-color: white;
        border: 1px solid #ccc;
        z-index: 1000;
    }

    .popup .close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
        cursor: pointer;
    }
</style>

