<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>09:00 - 10:00</td>  <td><a href="{{site.url}}/computing-HWDB/02-Introduction-HWDB/index.html#pid"> Introduction to the PID </a> and <a href="{{site.url}}/computing-HWDB/03-Setting-up-Types/index.html">Setting up Types </a></td> </tr>
      <tr> <td>10:00 - 10:30</td>  <td><a href="{{site.url}}/computing-HWDB/04-Data-Management-WEB-UI/index.html">Entering & retrieving data through WEB UI</a></td> </tr>
      <tr> <td>10:30 - 11:00</td>  <td><a href="{{site.url}}/computing-HWDB/05-Data-Management-REST-API/index.html">Entering & retrieving data through REST API</a></td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00 - 09:10</td>  <td>Quick overview of Day 1</td> </tr>
      <tr> <td>09:10 - 09:40</td>  <td>Going through the PID hierarchy, <a href="{{site.url}}/computing-HWDB/06-Using-iPad-App/index.html"> scan QR codes, and post Locations via iPad </a></td> </tr>
      <tr> <td>09:40 - 10:40</td>  <td><a href="{{site.url}}/computing-HWDB/07-Using-Python-Upload-Tool/index.html">Using the Python HWDB Upload Tool</a></td> </tr>
    </table>
  </div>
</div>
