<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Responsible Institutions</title>
</head>
<body>

<table>
  <tr>
    <th>Consortium</th>
    <th>Liaison</th>
  </tr>
  <tr>
    <td>ND LAr</td>
    <td><a href= "mailto: mualem@caltech.edu"> Leon Mualem </a></td>
  </tr>
  <tr>
    <td>FD1 APA</td>
    <td><a href= "mailto: brebel@wisc.edu"> Brian Rebel </a> and <a href= "mailto: k.majumdar@liverpool.ac.uk"> Krishan Majumdar</a></td>
  </tr>
  <tr>
    <td>FD1 PDS</td>
    <td><a href= "mailto: gustavo.valdiviesso@unifal-mg.edu.br"> Gustavo Valdiviesso </a> and <a href= "mailto: meads@niu.edu"> Mike Eads</a></td>
  </tr>
  <tr>
    <td>FD2 PDS</td>
    <td></td>
  </tr>
  <tr>
    <td>FD1 TPC Electronics</td>
    <td><a href= "mailto: mtzanov@lsu.edu"> Martin Tzanov</a></td>
  </tr>
  <tr>
    <td>FD2 BDE</td>
    <td><a href= "mailto: mtzanov@lsu.edu"> Martin Tzanov</a></td>
  </tr>
  <tr>
    <td>FD2 CRP (Top)</td>
    <td><a href= "mailto: Jean-Francois.Muraz@lpsc.in2p3.fr"> Jean-François Muraz</a></td>
  </tr>
  <tr>
    <td>FD2 CRP (Bottom)</td>
    <td></td>
  </tr>
  <tr>
    <td>FD2 TDE</td>
    <td><a href= "mailto: vgalymov@ipnl.in2p3.fr"> Vyacheslav Galymov</a></td>
  </tr>
  <tr>
    <td>FD  DAQ</td>
    <td><a href= "mailto: Roland.Sipos@cern.ch"> Roland Sipos</a></td>
  </tr>
  <tr>
    <td>FD1 HV</td>
    <td><a href= "mailto: srm@anl.gov"> Steve Magill</a></td>
  </tr>
  <tr>
    <td>FD2 HV</td>
    <td><a href= "mailto: srm@anl.gov"> Steve Magill</a></td>
  </tr>
  <tr>
    <td>Calibration Hardware</td>
    <td><a href= "mailto: rivera@lanl.gov"> David Rivera</a> and <a href= "mailto: jcapo.ific@gmail.com"> Jordi Capó</a></td>
  </tr>
  <tr>
    <td>Installation</td>
    <td><a href= "mailto: stewart@bnl.gov"> Jim Stewart</a></td>
  </tr>
  <tr>
    <td>DUNE QA Specialist</td>
    <td><a href= "mailto: mateyack@fnal.gov"> James Mateyack</a></td>
  </tr>
</table>
  
</body>
</html>



  



